<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.dormsys.mapper.MapperDorm">
    <select id="selDormbyDno" parameterType="String" resultType="com.app.dormsys.entities.Dorm">
        select *
        from dorms
        where dno=#{dno} and buildings_bno=(
            select buildings_bno
            from admins_has_buildings
            where admins_wno=#{wno}
        )
    </select>
    <select id="selDormsbyWno" parameterType="String" resultType="com.app.dormsys.entities.Dorm">
        select *
        from dorms
        where buildings_bno=(
            select building_bno
            from admins_has_buildings
            where admins_wno=#{wno}
        )
    </select>
    <select id="selDormbySno" parameterType="String" resultType="com.app.dormsys.entities.Dorm">
        select *
        from dorms
        where dno=(
            select dorms_dno
            from students
            where sno=#{sno}
        )
    </select>
</mapper>